{% extends './master.html' %}
{% load static %}
{% block content %}
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center text-center">
                <!-- Portfolio Item 1-->
                <div class="col-6 mb-5">
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/photo_2_1.jpg' %}" alt="" style="height:400px;"/>
                    </a>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-6 mb-5">
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/photo_2_2.jpg' %}" alt="" style="height:400px;"/>
                    </a>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-6  mb-5">
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/photo_2_3.jpg' %}" alt="" style="height:400px;"/>
                    </a>
                </div>
            </div>
        </div>
    </section>

    </section>
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">What is your favorite?</h2>
            <!-- Icon Divider-->
            <p></p>
            <p></p>
            <p></p>
            <p></p>
                <p></p>
                <p></p>
            <p class=" text-center"> Let us know your favorite color palette and design </p>
            <div class="divider-custom">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <!-- Contact Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Name</label>
                            <input class="form-control" id="name" type="text" placeholder="Name" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Color Palette</label>
                            <input class="form-control" id="color_palette" type="number" placeholder="0"  />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Photo</label>
                            <input class="form-control" id="photo" type="number" placeholder="0" />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div><button class="btn btn-primary btn-xl" id="sendChoiseButton" >Send</button></div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}